body{
	background-color: white;
	width:100%;
	height:100%;
     animation-duration:40s;
     animation-name: hakunamatata; 
     animation-iteration-count: infinite;
 }

@keyframes hakunamatata  {
	0% { background-color: black;}
	10% { background-color: yellow;}
	20% {background-color:red;}
	30% {background-color:gold;}
	40% {background-color: grey;}
	50% {background-color: brown;}
	60% {background-color: orange;}
	70% {background-size: green;}
	80% {background-color: blue;}
	90% {background-color: turquoise;}
	100%{background-color:pink;}

.hommes td {
	color: green;
}
.femmes td {
	color: purple;
}